<h4>ログインする！</h4>
<ul class="list-group">
  <%= form_with(scope: :session, url: sessions_path,local: true ) do |f|%>
  <li class="list-group-item">
    <%= f.label :メールアドレス %><br>
    <%= f.email_field :email %><br>
  </li>
  <li class="list-group-item">
    <%= f.label :パスワード %><br>
    <%= f.password_field :password %><br>
  </li>
  <li class="list-group-item">
    <%= f.submit "ログインする", class:"button",class:"btn btn-primary btn-xs" %>
    <% end %>
  </li> 
</ul>
