<%= form_with(model: @blog, url: blogs_path, local: true) do |form| %>
  <%= form.hidden_field :title %>
  <%= form.hidden_field :content %>
  <%= form.hidden_field :image_cache %>
  <p>タイトル<br><%= @blog.title %></p>
  <p><%= image_tag @blog.image %></p>
  <p>本文<br><%= @blog.content %></p>
  <%= form.submit "投稿する" %>
  <%= form.submit "編集し直す", name:'back' %>
<% end %>