この写真をアップしますか？？
<%= form_with(model: @blog, url: blogs_path, local: true) do |form| %>
  <ul class="list-group">
    <%= form.hidden_field :title %>
    <%= form.hidden_field :content %>
    <%= form.hidden_field :image_cache %>
    <li class="list-group-item">
      <p>タイトル<br><%= @blog.title %></p>
    </li>
    <li class="list-group-item">
      <p><%= image_tag @blog.image %></p>
    </li>
    <li class="list-group-item">
      <p>本文<br><%= @blog.content %></p>
    </li>
    <li class="list-group-item">
      <%= form.submit "投稿する", class:"btn btn-primary btn-xs" %>
      <%= form.submit "編集し直す", name:'back', class:"btn btn-danger btn-xs" %>
    </li>  
  </ul>
<% end %>
