<ul class="list-group">
  <% if @blog.errors.any? %>
    <% @blog.errors.full_messages.each do |message| %>
      <%= message %><br>
    <% end %>
  <% end %>
  <%= form_with(model: @blog, local: true) do |form| %>
    <li class="list-group-item">
      <h4>編集画面</h4>
    </li>
    <li class="list-group-item">
      <%= form.label :タイトル%><br>
      <%= form.text_field :title, size: "40" %><br>
    </li>
    <li class="list-group-item">
      <%= form.label :画像 %><br>
        <%= image_tag @blog.image %><br>
        <%= form.file_field:image %><br>
    </li>
    <li class="list-group-item">
      <%= form.label :内容%><br>
      <%= form.text_area :content, size: "40x10"%><br>
    </li>
    <li class="list-group-item">
      <%= form.submit "投稿する", class:"btn btn-primary btn-xs" %><br>
    </li>
  <% end %>
</ul>
<h5><%= link_to "　👉みんなの投稿に戻る",blogs_path %></h5>





  