<h3>新しく写真をUPしよう！！</h3>
<%= form_with(model: @blog, local: true, url: confirm_blogs_path) do |form| %>
<%= form.label :タイトル%><br>
<%= form.text_field :title%><br>
<%= form.label :画像 %><br>
<%= form.file_field:image %><br>
<%#= f.hidden_field :image_cache %>
<%= form.label :内容%><br>
<%= form.text_field :content%><br>
<%= form.submit "投稿する" %><br>
<% end %>

<%= link_to "みんなの写真をみる", blogs_path %>