<%= form_with(model: @blog, local: true, url: confirm_blogs_path) do |form| %>
  <ul class="list-group">
    <li class="list-group-item">
      <h4>Тќ░сЂЌсЂЈтєЎуюЪсѓњUPсЂЌсѓѕсЂє№╝Ђ№╝Ђ</h4>
      <% if @blog.errors.any? %>
        <% @blog.errors.full_messages.each do |message| %>
          <%= message %><br>
        <% end %>
      <% end %>
    </li>
    <li class="list-group-item">
      <%= form.label :сѓ┐сѓцсЃѕсЃФ%><br>
      <%= form.text_field :title, size: 40 %><br>
    </li>
    <li class="list-group-item">
      <%= form.label :ућ╗тЃЈ %><br>
      <%= form.file_field:image %><br>
    </li>
    <li class="list-group-item">
      <%= form.label :тєЁт«╣%><br>
      <%= form.text_area :content, size: "40x10" %><br>
    </li>
    <li class="list-group-item">
      <%= form.submit "ТіЋуе┐сЂЎсѓІ", class:"btn btn-primary btn-xs" %><br>
    </li>
  </ul>
  <h5><%= link_to "­ЪЉЅсЂ┐сѓЊсЂфсЂ«тєЎуюЪсѓњсЂ┐сѓІ", blogs_path %></h5>
<% end %> 


