<ul class="list-group">
  <li class="list-group-item">
    <%= @blog.user.name %>さんの投稿
  </li>
  <li class="list-group-item">
    タイトル　<%= @blog.title%>
  </li>
  <li class="list-group-item">
    <%= image_tag @blog.image %>
  </li>
  <li class="list-group-item">
    内容　<%= @blog.content%><br>
  </li>
  <li class="list-group-item">
    <% unless @blog.user_id == current_user.id then %>
      <% if @favorite.present? %>
        <%= link_to 'お気に入り解除する', favorite_path(id: @favorite.id), method: :delete, class: 'btn btn-danger btn-xs' %>
      <% else %>
        <%= link_to 'この写真をお気に入りする', favorites_path(blog_id: @blog.id), method: :post, class: 'btn btn-primary' %>
      <% end %>
    <% else %>
      <%= link_to "編集する", edit_blog_path, class:"btn btn-success btn-xs" %>
    <% end %>
  </li>
</ul>
<h5><%= link_to "　👉投稿一覧へ", blogs_path %><br>
<%= link_to "　👉お気に入り一覧", blogs_like_path %></h5>
