
<h5><%= @blog.title%></h5>
<%= image_tag @blog.image %><br>
<h5><%= @blog.content%></h5>


<% unless @blog.user_id == current_user.id %>
  <% if @favorite.present? %>
    <%= link_to 'お気に入り解除する', favorite_path(id: @favorite.id), method: :delete, class: 'btn btn-danger' %>
  <% else %>
    <%= link_to 'お気に入りする', favorites_path(blog_id: @blog.id), method: :post, class: 'btn btn-primary' %>
  <% end %>
<% end %>

<h4><%= link_to "編集する", edit_blog_path%></h4>
<h4><%= link_to "投稿一覧へ", blogs_path%></h4>