<h3><%= @user.name %>のページ</h3>
<%= form_with(model: @user,local: true) do |f| %>
<%= f.label :名前 %><br>
<%= f.text_field :name %><br>
<%= f.label :メールアドレス %><br>
<%= f.email_field :email %><br>
<%= f.label :画像 %><br>
<%= f.file_field:image %><br>
<%= f.label :パスワード %><br>
<%= f.password_field :password %><br>
<%= f.label :パスワード（確認用） %><br>
<%= f.password_field :password_confirmation %><br>

<%= f.submit "登録する" %>
<% end %>
