<h4><%= @user.name %>のページ<br>
(プロフィールの編集)</h4>
<% if @user.errors.any? %>
  <% @user.errors.full_messages.each do |message| %>
    <%= message %><br>
  <% end %>
<% end %>
<%= form_with(model: @user,local: true) do |f| %>
  <ul class="list-group">
    <li class="list-group-item">
      <%= f.label :名前 %><br>
      <%= f.text_field :name %><br>
    </li>
    <li class="list-group-item">
      <%= f.label :メールアドレス %><br>
      <%= f.email_field :email %><br>
    </li>
    <li class="list-group-item">
      <%= f.label :画像 %><br>
      <%= f.file_field:image %><br>
    </li>
    <li class="list-group-item">
      <%= f.label :パスワード %><br>
      <%= f.password_field :password %><br>
    </li>
    <li class="list-group-item">
      <%= f.label :パスワード（確認用） %><br>
      <%= f.password_field :password_confirmation %><br>
    </li>
  </ul>
  <%= f.submit "登録する", class:"btn btn-primary btn-xs"%>
  <%= link_to "変更せず戻る", user_path ,class:"btn btn-danger btn-xs" %>
<% end %>
　
