<h2>新規登録する。</h2>

<% if @user.errors.any? %>
<% @user.errors.full_messages.each do |message| %>
<%= message %><br>
<% end %>
<% end %>

<%= form_with(model: @user,local: true) do |f| %>
<%= f.label :名前 %><br>
<%= f.text_field :name %><br>
<%= f.label :メールアドレス %><br>
<%= f.email_field :email %><br>
<%= f.label :パスワード %><br>
<%= f.password_field :password %><br>
<%= f.label :パスワード（確認用） %><br>
<%= f.password_field :password_confirmation %><br>
<%= f.submit "登録する" %>
<% end %>