<h3><%= @user.name %>のページ</h3>
<%= image_tag @user.image %>
<%= form_with(model: @user,local: true) do |f| %>
<%= f.label :ホーム画像をアップロードする %><br>
<%= f.file_field :image_cache %><br>
<%= f.submit "画像登録" %>
<% end %>


<h3>メールアドレス:<%= @user.email%></h3>

<%= link_to "写真を投稿する",new_blog_path %><br>
<%= link_to "みんなの写真を見る", blogs_path %>



